#learn {
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: minmax(75px, 100px) repeat(3, auto) minmax(100px, 125px);
  // grid-template-areas:
  //   "title"
  //   "paragraph"
  //   "paragraph"
  //   "paragraph"
  //   "button";

  #learn-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, 125px) auto minmax(100px, 125px);
    grid-template-areas:
      "title"
      "paragraph"
      "button";

    padding: 0 10rem;
    text-align: center;
  }

  #learn-header {
    grid-area: title;
    align-self: center;
    justify-self: center;
  }

  #learn-paragraph {
    grid-area: paragraph;
    align-self: center;
    justify-self: center;
  }

  #learn-button {
    grid-area: button;
    align-self: center;
    justify-self: center;
  }
}

@media only screen and (max-width: 700px) {
  #learn {
    #learn-text {
      padding: 0 20px;
    }
  }
}