#journey {
  height: auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(75px, 100px) auto minmax(100px, 125px) 50px;
  grid-template-areas:
    'title'
    'timeline'
    'button'
    '.';

  padding: 0 2.5rem;

  #journey-header {
    grid-area: title;
    align-self: center;
    justify-self: center;
  }

  #journey-timeline {
    grid-area: timeline;
    justify-self: center;
  }

  #journey-button {
    grid-area: button;
    align-self: center;
    justify-self: center;
  }
}

@media only screen and (max-width: 700px) {
  #journey {
    padding: 0 5px;
  }
}
