#journey {
  height: auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(75px, 100px) auto;
  grid-template-areas:
    "title"
    "timeline";

  #journey-header {
    grid-area: title;
    align-self: center;
    justify-self: center;
  }

  #journey-timeline {
    grid-area: timeline;
    justify-self: center;
  }
}