#home {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  // background-color: colour(home_bg);

  .text-wrapper {
    width: 300px;
    height: 100px;

    display: flex;

    // justify-content: center;
    align-items: center;
  }
}