#home {
  height: 100vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .text-wrapper {
    display: flex;

    // justify-content: center;
    // align-items: center;
  }
}