.image {
  height: 100%;
  width: 100%;
  position: relative;
  // z-index: -1;

  /*
  =======
  BOY SVG
  =======
  */
  .boy-waving {
    // position: absolute;
    // top: 400px;
    // left: 150px;
    // height: 300px;

    .wave-arm {
      border: solid 1px black;
      transform-origin: 110px 160px;

      animation-name: boy-wave;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }
  }

  /*
  ===================
  MONITOR BROWSER SVG
  ===================
  */
  .monitor-browser {
    // position: absolute;
    // top: 500px;
    // left: 300px;

    .monitor {
      .monitor-frame {
        fill: colour(home_bg);
        stroke: rgb(49, 1, 1);
        stroke-width: 3px;
      }

      .monitor-lower {
        fill: rgb(49, 1, 1);
        stroke: rgb(49, 1, 1);
        stroke-width: 3px;
      }

      .monitor-support {
        fill: rgb(49, 1, 1);
      }
    }

    .browser {
      .browser-window {
        fill: none;
        stroke: rgb(49, 1, 1);
        stroke-width: 2px;
      }

      .browser-window-top {
        fill: rgb(49, 1, 1);
        stroke: rgb(49, 1, 1);
        stroke-width: 2px;
      }

      .browser-red {
        fill: #F85B57;
      }

      .browser-yellow {
        fill: #E5BF3C;
      }

      .browser-green {
        fill: #57C038;
      }

      .bar-background {
        fill: rgb(49, 1, 1);
      }

      .bar-white {
        fill: rgb(235, 57, 47);
        // stroke: rgb(233, 112, 112);
      }

      .bar-black {
        fill: rgb(235, 57, 47);
        // stroke: rgb(233, 112, 112);
      }

      .browser-text {
        fill: rgb(49, 1, 1);
      }

      .image-rect {
        fill: #f37666;
        stroke: rgb(49, 1, 1);
      }

      .image-circle {
        fill: #f37666;
        stroke: rgb(49, 1, 1);
      }

      .button {
        fill: rgb(235, 57, 47);
        // stroke: rgb(235, 57, 47);
      }
    }
  }

  /*
  ==============
  DATA CLOUD SVG
  ==============
  */
  // .data-cloud {
  //   position: absolute;
  //   transform: translate3d(-150%, -25%, 0);

  .database {
    // position: absolute;
    // top: 550px;
    // left: 0px;

    .database-red {
      .database-stack-front {
        fill: #f37666;
      }

      .database-stack-top {
        fill: rgb(235, 57, 47);
      }
    }

    .database-green {
      .database-stack-front {
        fill: #8cf366;
      }

      .database-stack-top {
        fill: #60be22;
      }
    }

    .database-blue {
      .database-stack-front {
        fill: #66b4f3;
      }

      .database-stack-top {
        fill: #166e86;
      }
    }
  }

  .cloud {
    // position: absolute;
    // top: 465px;
    // left: 0px;

    .cloud-back {
      fill: rgb(235, 57, 47);
      stroke: rgb(49, 1, 1);
    }

    .cloud-front {
      fill: rgb(235, 57, 47);
      stroke: rgb(49, 1, 1);
    }
  }

  .cog {
    // position: absolute;
    // top: 490px;
    // left: 70px;
    // height: 50px;
    fill: #f37666;
    stroke: rgb(49, 1, 1);

    animation-name: cog-rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .pie-chart {
    // position: absolute;
    // top: 450px;
    // left: 0px;

    .pie-segment-right {
      fill: #F85B57;
      stroke: rgb(49, 1, 1);
      animation-name: pie-slide;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }

    .pie-segment-top {
      fill: #E5BF3C;
      stroke: rgb(80, 75, 10);
    }

    .pie-segment-bottom {
      fill: #57C038;
      stroke: rgb(6, 71, 22);
    }
  }

  .line-chart {
    position: absolute;
    // top: 600px;
    // left: 0px;

    .line-chart-line {
      fill: rgb(235, 57, 47);
    }

    .line-chart-axis {
      fill: rgb(49, 1, 1);

    }
  }
  // }
}

@keyframes boy-wave {
  from {transform: rotate(-5deg);}
  to {transform: rotate(15deg);}
}

@keyframes cog-rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes pie-slide {
  0% {}
  100% {transform: translateX(5px);}
}