.text {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  white-space: nowrap;
  height: 0px;

  .text-box {
    position: absolute;
    width: 475px;
    top: 500px;
    height: 50px;
  }

  .text-span {
    color: red;
  }
}