#intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "."
    "title"
    "."
    "."
    ".";

  #intro-text {
    grid-area: title;
    align-self: center;
    justify-self: center;

    padding: 0 10rem;

    text-align: center;
  }

  #intro-paragraph {
    // display: block;
    // letter-spacing: 1.5px;
    margin-top: 20px;
  }
}