#intro {
  #intro-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 125px auto repeat(3, 75px);
    grid-template-areas:
      'title'
      'paragraph'
      '.'
      '.'
      '.';

    padding: 0 10rem;

    text-align: center;
  }

  #intro-header {
    grid-area: title;
    align-self: center;
    justify-self: center;
  }

  #intro-paragraph {
    grid-area: paragraph;
    align-self: center;
    justify-self: center;
  }
}

@media only screen and (max-width: 700px) {
  #intro {
    #intro-text {
      padding: 0 20px;
    }
  }
}
