.timeline-panel {
  display: grid;
  grid-template-columns: 40fr 10fr 40fr;
  grid-column-gap: 20px;
  // height: 150px;

  .panel-section-left {
    text-align: right;
  }

  .panel-section-center {
    // position: relative;
    // z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .panel-logo-text, .panel-logo-img {
    // position: absolute;
    border-radius: 50%;
    // border: 5px solid colour(work_bg);
    // box-shadow: 0 0 3px grey;
  }


  .panel-logo-border-show {
    position: absolute;
  }

  .panel-logo-border-wrapper {
    position: absolute;
  }

  .panel-logo-border {
    position: absolute;
    top: 10px;   // TODO: Optimise
    left: 10px;
    border-radius: 50%;
  }

  .panel-logo-text {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    background-color: green;

    font-size: 1.5rem;
    color: white;
  }

  .panel-title {
    font-size: 1.5rem;
  }

  .panel-company {
    font-size: 1rem;
  }

  .panel-date {
    color: #3d3d3d;
  }

  .panel-description {
    margin-top: 20px;
  }
}