.timeline-panel {
  display: grid;
  grid-template-columns: 40fr 10fr 40fr;
  grid-column-gap: 20px;

  margin-bottom: 100px;

  .panel-section-left {
    text-align: right;
  }

  .panel-section-center {
    display: flex;
    justify-content: center;
  }

  .panel-logo {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 100px;
    border-radius: 30%;

    background-color: red;
  }

  .panel-logo-img {
    height: 100px;
    width: 100px;
    border-radius: 30%;
  }

  .panel-title {
    font-size: 1.5rem;
  }

  .panel-company {
    font-size: 1rem;
  }

  .panel-date {
    color: #191919;
  }

  .panel-description {
    margin-top: 20px;
  }
}