.timeline {
  background-color: cornsilk;

  .timeline-panels {
    width: 75vw;
  }

  .timeline-panels * {
    z-index: 1;
  }

  .timeline-vertline {
    position: absolute;
    z-index: 0;
    left: 49.5%;
    right: 49.5%;
    background-color: brown;
  }
}