.timeline {
  display: flex;
  justify-content: center;

  .timeline-panels {
    width: 75vw;
  }

  .timeline-panels * {
    z-index: 100; // In front of vertline
  }

  .timeline-vertline {
    position: absolute;
    width: 10px;
    background-color: brown;
  }
}