@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap');

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: colour(black);
}

.header,
.header-invert {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: colour(black);
}

.subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: colour(dark_gray);
}

p {
  font-family: 'Raleway', sans-serif;
  line-height: 200%;
  font-size: 1rem;
}

.header-invert,
.paragraph-invert {
  color: white;
}

/*
==========
COMPONENTS
==========
*/

.card-caption-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 800;
  color: white;
}

.button .button-text {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.button-large .button-text {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
}

.timeline {
  .panel-logo-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 100%;
    color: white;
  }

  .panel-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    line-height: 100%;
    font-weight: 800;
  }

  .panel-company,
  .panel-date,
  .panel-description {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
  }

  .panel-date {
    color: colour(dark_gray);
  }
}

@media only screen and (max-width: 700px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .header,
  .header-invert {
    font-size: 1.5rem;
  }

  /*
  ==========
  COMPONENTS
  ==========
  */

  .button .button-text {
    font-size: 0.9rem;
  }

  .button-large .button-text {
    font-size: 1rem;
  }

  .card-caption-title {
    font-size: 0.75rem;
  }

  .timeline {
    .panel-title,
    .panel-logo-text {
      font-size: 1rem;
    }

    .panel-logo-text {
      font-size: 1rem;
    }

    .panel-company,
    .panel-date,
    .panel-description {
      font-size: 0.75rem;
    }
  }
}

@media only screen and (max-width: 400px) {
  .timeline {
    .panel-title {
      font-size: 0.9rem;
    }
  }
}
