body {
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
}

.title {
  font-family: "eurostile", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: colour(black);
}

.header, .header-invert {
  font-family: "eurostile", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: colour(black);
}

.header-invert, .paragraph-invert {
  color: white;
}

.subtitle {
  font-family: "europa",sans-serif;
  font-size: 1rem;
  color: colour(dark_gray);
}

p {
  font-family: "europa",sans-serif;
  font-size: 1rem;
}