@function colour($colour-name) {
  @return map-get($map: $colours, $key: $colour-name);
}

$colours: (
  accent: #7328F0,
  accent_light: #13CAE2,
  dark_gray: #222222,
  black: #141C3A
);

$gradient_diag: linear-gradient(
    45deg,
    colour(accent_light),
    colour(accent)
  );

$gradient_vert: linear-gradient(
  0deg,
  colour(accent_light),
  colour(accent)
);