.title {
  font-family: "eurostile", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: #141C3A;
}

.header, .header-invert {
  font-family: "eurostile", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: #141C3A;
}

.header-invert, .paragraph-invert {
  color: white;
}

.subtitle {
  font-family: "europa",sans-serif;
  font-size: 1rem;
  color: #222222;
}

p {
  font-family: "europa",sans-serif;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

/*
=============
SHARED STYLES
=============
*/
.page-fill {
  height: 100vh;
  min-height: 500px;
}

#footer {
  background-color: lightpink;
}

#title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "." "title" "." "." "svg";
}

#title #title-text-wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}

#title #title-svg {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: svg;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

#title .subtitle {
  margin-top: 20px;
}

.boy-waving .wave-arm {
  -webkit-transform-origin: 110px 160px;
          transform-origin: 110px 160px;
  -webkit-animation-name: boy-wave;
          animation-name: boy-wave;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes boy-wave {
  from {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@keyframes boy-wave {
  from {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

#intro {
  height: 80vh;
  min-height: 500px;
  background-image: linear-gradient(45deg, #13CAE2, #7328F0);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "." "title" "." "." ".";
}

#intro #intro-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 0 10rem;
  text-align: center;
}

#intro #intro-paragraph {
  margin-top: 20px;
}

#projects {
  background-color: hotpink;
}

#journey {
  background-color: indigo;
}

#learn {
  background-color: lightcoral;
}
/*# sourceMappingURL=main.css.map */