@import url("https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap");
.title {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: #141C3A;
}

.header, .header-invert {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: #141C3A;
}

.subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: #222222;
}

p {
  font-family: 'Raleway', sans-serif;
  line-height: 200%;
  font-size: 1rem;
}

.card-caption-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 800;
  color: white;
}

.button-text {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.header-invert, .paragraph-invert {
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

/*
=============
SHARED STYLES
=============
*/
.page-fill {
  height: 100vh;
  min-height: 500px;
}

.page-accent {
  height: 80vh;
  min-height: 500px;
  background-image: linear-gradient(45deg, #13CAE2, #7328F0);
}

.page-box {
  margin: auto;
  margin-top: -10rem;
  height: 80vh;
  min-height: 500px;
  width: 80vw;
  min-width: 320px;
  border-radius: 20px;
  -webkit-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 10rem;
}

#footer {
  background-color: lightpink;
}

.card {
  position: relative;
  border-radius: 20px;
}

.card .card-thumbnail, .card .card-caption {
  position: absolute;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: #141C3A;
}

.card .card-thumbnail {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card .card-caption {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "title" "title" "button";
}

.card .card-caption-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  -ms-flex-item-align: center;
      align-self: center;
      justify-self: center;
  padding: 10px;
  text-align: center;
}

.card .button {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: button;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-column-align: center;
      justify-self: center;
}

.button {
  display: inline-block;
  position: relative;
  background-image: linear-gradient(45deg, #13CAE2, #7328F0);
  padding: 2px;
  border-radius: 20px;
  text-decoration: none;
}

.button .button-text {
  border-radius: 15px;
  padding: 0px 10px;
}

#title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "." "title" "." "." "svg";
}

#title #title-text-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}

#title #title-svg {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: svg;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

#title .subtitle {
  margin-top: 20px;
}

.boy-waving .wave-arm {
  -webkit-transform-origin: 110px 160px;
          transform-origin: 110px 160px;
  -webkit-animation-name: boy-wave;
          animation-name: boy-wave;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes boy-wave {
  from {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@keyframes boy-wave {
  from {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

#intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "." "title" "." "." ".";
}

#intro #intro-text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  -ms-flex-item-align: center;
      align-self: center;
      justify-self: center;
  padding: 0 10rem;
  text-align: center;
}

#intro #intro-paragraph {
  margin-top: 20px;
}

#projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "title" "projects" "projects" "projects" ".";
  background-color: white;
  padding: 5px;
}

#projects #projects-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

#projects #projects-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: projects;
  justify-self: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#projects #projects-container .card {
  min-width: 300px;
  max-width: 400px;
  width: 40%;
  margin: 5px;
}

#journey {
  background-color: indigo;
}

#learn {
  background-color: lightcoral;
}
/*# sourceMappingURL=main.css.map */