#footer {
  background-color: lightpink;
}

.card {
  position: relative;
  border-radius: 20px;
  // box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.15);

  .card-thumbnail, .card-caption {
    position: absolute;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    cursor: pointer;

    background-color: colour(black); // Default

  }

  .card-thumbnail {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .card-caption {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "title"
      "button";
  }

  .card-caption-title {
    grid-area: title;
    align-self: center;
    justify-self: center;

    padding: 10px;
    text-align: center;
  }

  .button {
    grid-area: button;
    align-self: flex-start;
    justify-self: center;
  }
}

.button {
  display: inline-block;
  position: relative;
  background-image: $gradient-diag;
  padding: 2px;
  border-radius: 20px;

  text-decoration: none;

  .button-text {
    border-radius: 15px;
    padding: 0px 10px;
  }
}