#projects {
  #projects-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(75px, 100px) repeat(3, auto) minmax(100px, 125px);
    grid-template-areas:
      "title"
      "projects"
      "projects"
      "projects"
      "button";

    background-color: white;

    padding: 5px;
  }

  #projects-header {
    grid-area: title;
    align-self: center;
    justify-self: center;
  }

  #projects-container {
    grid-area: projects;
    justify-self: center;

    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    .card {
      min-width: 300px;
      max-width: 400px;
      width: 40%;

      margin: 5px;

      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    }
  }

  #projects-button {
    grid-area: button;
    align-self: center;
    justify-self: center;
  }
}

@media only screen and (max-width: 700px) {
  #projects {
    #projects-box {
      padding: 0px;
    }
  }
}