#projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(75px, 100px) repeat(3, auto) minmax(75px, 100px);
  grid-template-areas:
    "title"
    "projects"
    "projects"
    "projects"
    ".";

  background-color: white;

  padding: 5px;

  #projects-header {
    grid-area: title;
    align-self: center;
    justify-self: center;
  }

  #projects-container {
    grid-area: projects;
    justify-self: center;

    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    .card {
      min-width: 300px;
      max-width: 400px;
      width: 40%;

      margin: 5px;
    }
  }
}

@media only screen and (max-width: 700px) {
  #projects {
      padding: 0px;
  }
}