#projects {
  background-color: hotpink;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "projects"
    "projects"
    "projects"
    ".";

  display: grid;

  #projects-header {
    grid-area: title;
    align-self: center;
    justify-self: center;
  }

  #projects-container {
    grid-area: projects;
    justify-self: center;

    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    .card {
      min-width: 200px;
      max-width: 400px;
      width: 40%;
    }
  }
}