* {
  margin: 0;
  padding: 0;
}

/*
=============
SHARED STYLES
=============
*/

a {
  text-decoration: none;
}

.page-fill {
  min-height: 500px;
}

.page-accent {
  min-height: 500px;
  background-image: $gradient_diag;
}

.page-box-wrapper {
  margin-bottom: -10rem;
}

.page-box {
  margin: auto;
  margin-top: -10rem;

  min-height: 500px;

  width: 80vw;
  min-width: 320px;

  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

  margin-bottom: 10rem;
}

.page-card {
  position: relative;
  margin: auto;

  width: 80vw;
  min-width: 320px;

  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

  background-image: $gradient_diag;
}