* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -ms-overflow-style: none;
}

// Hide Scrollbar
body::-webkit-scrollbar {
  display: none;
}

/*
=============
SHARED STYLES
=============
*/

.page-fill {
  height: 100vh;
  min-height: 500px;
}

.page-accent {
  min-height: 500px;
  background-image: $gradient_diag;
}

.page-box {
  margin: auto;
  margin-top: -10rem;

  min-height: 500px;

  width: 80vw;
  min-width: 320px;

  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

  margin-bottom: 10rem;
}